*{padding:0;margin:0;}
html,body {
	width:100%;
	height:100%;
 	font: 14px "微软雅黑" ,"Lucida Grande", Helvetica, Arial, sans-serif;
}
@media all and (max-width:500px){
	h1>span{display:none;}
}

#index_page {
	width:100%;
	height:100%;
	user-select:none;
	background-color: #c0c0c0;
	-webkit-user-select:none;
	-moz-user-select:none;
	-o-user-select:none;
	cursor: default;
}

 h1{
	text-align: center;
	padding-top:200px;
	font-size:35px;
	margin-right:20px;
}
h1 img {
	width:100px;
	height:auto;
	vertical-align: middle;
	margin: 10px;
}
 p{
 	margin-top: 10px;
 	margin-bottom: 10px;
	text-align: center;
	font-size: 18px;
}
 fieldset {
	margin-top:50px;
	width:400px;
	position: absolute;
	left: 50%;
	margin-left:-200px;
	border: none;
}
 fieldset label {
    float:left;
    width:120px;
    text-align:right;
    padding:4px;
	color:#3D6BA7;

    margin:1px;
    font-weight: bold;
    line-height:25px;
}
 fieldset div {
    clear:left;
    margin-bottom:2px;
    margin-top:10px;
}
 input[type='text'], input[type='password'] {
	width:180px;
	height:25px;
	font-size:15px;
	padding:4px 3px;
	margin-bottom:5px;
	border-radius: 8px;
	background-color: #ccc;
	
}
 input:focus {
	outline: none;
	box-shadow: 0 0 15px 0 #5DADE2;
}
 a {
 	display: inline-block;
 	margin:20px 30px 0 50px;
 	border-radius: 8px;
	margin-top:20px;
	cursor: pointer;
	font-weight: bold;
	text-decoration: none;
	background-color: #FFF;
	border:1px #fff solid;
	padding: 10px 40px;
	color:#3D6BA7;

	background-color: #ccc;

}
